.gramCards {
  max-width: 555px;
  margin: auto;
  min-height: 100vh;
}

.form {
  height: 100%;
  width: 100%;
}
.card {
  border: 1px solid #dad9d9;
  border-left: 5px solid #ff6025;
  border-radius: 4px;
  box-shadow: 1px 3px 12px 6px rgba(0, 0, 0, 0.2);
  // paddingはコンポーネントで指定するとtopだけつかない現象が起きるためCSSで実装しておく
  padding: 16px;
  width: 100%;
}
.img_area {
  max-height: 100px;
  max-width: 100px;
  min-height: 100px;
  min-width: 100px;
}

.btn {
  font-family: "Courier New", Courier, monospace;
}
